@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .preferences {
    &__item {
      width: 220px !important;
    }
  }
  .promo {
    .button_main {
      width: 280px;
    }
  }
  .consultation {
    .title_left {
      font-size: 32px;
    }
  }
  .carousel {
    &__inner {
      width: 100% !important;
      img {
        width: 100%;
      }
    }
  }
  .catalog {
    &__content {
      justify-content: center;
    }
  }
  .footer {
    height: 530px !important;
    &__info {
      width: 400px !important;
      height: 220px !important;
      padding-top: 25px !important;
      padding-bottom: 27px !important;
    }
    &__addr {
      font-size: 18px !important;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .promo {
    .header {
      &__logo {
        width: 170px !important;
      }
      &__official {
        span {
          font-size: 17px !important;
        }
      }
      &__phone {
        font-size: 16px !important;
      }
      .button {
        width: 135px;
        font-size: 11px;
      }
    }
    &__wrapper {
      align-items: center !important;
      .button_main {
        font-size: 15px;
      }
    }
  }
  .preferences {
    &__item {
      width: 170px !important;
      h4 {
        font-size: 15px !important;
      }
      p {
        font-size: 13px !important;
      }
    }
  }
  .consultation {
    min-height: 550px !important;
    padding-top: 60px !important;
    .title_left {
      font-size: 25px;
    }
    .feed-form {
      width: 280px;
      .button_submit {
        font-size: 15px;
      }
    }
  }
  .catalog {
    &__tab {
      width: 160px !important;
      font-size: 17px !important;
    }
    &-item {
      width: 258px !important;
      &__descr {
        padding-left: 12px;
        padding-right: 12px;
      }
      &__price {
        font-size: 18px !important;
      }
      .button_mini {
        width: 98px;
        height: 38px;
        font-size: 13px;
      }
      &__list li {
        font-size: 13px !important;
      }
    }
  }
  .feedbacks {
    &__item {
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      margin-top: 20px;
      margin-left: 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer {
    height: 456px !important;
    &__info {
      width: 340px !important;
      height: 178px !important;
      padding: 0 !important;
    }
    &__addr {
      margin-top: 20px;
    }
    &__phone {
      margin-top: 18px !important;
    }
    &__social {
      margin-top: 25px !important;
    }
  }
  .pageup {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .promo {
    padding-bottom: 30px !important;
    .header {
      flex-direction: column;
      &__official {
        font-size: 14px;
        margin-top: 15px;
        span {
          font-size: 21px;
        }
      }
      &__contacts {
        align-items: center;
      }
      &__phone {
        margin-top: 15px;
      }
    }
    &__header {
      align-self: flex-start;
      font-size: 35px;
    }
    &__subheader {
      align-self: flex-start;
      font-size: 19px;
    }
    &__icons {
      width: 100% !important;
    }
    &__icon {
      width: 30% !important;
      font-size: 12px !important;
    }
    &__link {
      align-self: center;
    }
    .button_main {
      align-self: center;
      width: 230px;
    }
  }
  .preferences {
    padding-top: 25px !important;
    padding-bottom: 30px !important;
    &__header {
      font-size: 26px;
    }
    &__items {
      flex-direction: column;
      margin-top: 10px !important;
    }
    &__item {
      width: 100% !important;
      h4 {
        margin-top: 5px !important;
      }
      img {
        padding-top: 30px;
      }
      p {
        margin-top: 0 !important;
      }
    }
  }
  .consultation {
    min-height: 480px !important;
    padding-top: 38px !important;
    padding-bottom: 60px !important;
    .title_left {
      text-align: center;
      font-size: 21px;
    }
    &__descr {
      text-align: center;
      font-size: 15px !important;
    }
    .feed-form {
      margin: 0 auto;
      margin-top: 20px;
      width: 240px;
      input {
        height: 44px;
      }
      .button_submit {
        height: 48px;
        font-size: 14px;
      }
    }
  }
  .catalog {
    padding-bottom: 35px !important;
    .title {
      font-size: 23px;
    }
    &__tab {
      width: 86px !important;
      font-size: 9px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .feedbacks {
    &__descr {
      padding: 0 8px;
    }
    &__feedback {
      font-size: 14px !important;
    }
  }
  .footer {
    height: 280px !important;
    &__info {
      height: 168px !important;
      width: 100% !important;
      top: 100% !important;
    }
    &__addr {
      font-size: 16px !important;
    }
    &__social {
      &-item {
        width: 35px !important;
        height: 35px !important;
        img {
          height: 19px !important;
        }
      }
    }
  }
  .overlay {
    .modal {
      width: 100%;
      &__close {
        top: 10px;
        right: 10px;
      }
      &__subtitle {
        font-size: 15px;
      }
      &__descr {
        font-size: 11px;
      }
    }
    .feed-form {
      width: 100%;
    }
    .button_submit {
      font-size: 14x;
    }
    label.error {
      font-size: 11px;
    }
  }
}
