.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    img {
      width: 31px;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
      margin: 0 0.25rem;
    }
    button {
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #2772a5;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: #0d2637;
    }
  }
}
