.feedbacks {
  padding-bottom: 48px;
  min-height: 920px;
  &__item {
    margin-top: 60px;
    display: flex;
  }
  &__descr {
    margin-left: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
  }
  &__feedback {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #0d0d0d;
  }
}
