.preferences {
  min-height: 473px;
  padding: 73px 0 65px 0;
  background-color: #f6f6f6;
  &__header {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  &__items {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 274px;
    img {
      display: block;
      margin: 0 auto;
    }
    h4 {
      margin-top: 35px;
      color: #0d0d0d;
      font-weight: 700;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
    }
    p {
      margin-top: 20px;
      color: #0d0d0d;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      span {
        color: #ff0000;
      }
    }
  }
}
